apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    bgp: Enabled
    ipPools:
{% if ipv6 %}
    - blockSize: 122
      cidr: {{ calico_ipv6pool_cidr }}
{% else %}
    - blockSize: 26
      cidr: {{ calico_ipv4pool_cidr }}
{% endif %}
      encapsulation: VXLANCrossSubnet
      natOutgoing: Enabled
      nodeSelector: all()
{% if ipv6 %}
    nodeAddressAutodetectionV6:
      canReach: 2404:6800:4015:802::2003
{% endif %}
  cni:
    type: Calico
  controlPlaneNodeSelector:
    sydney.edu.au/nodeRole: system
  controlPlaneReplicas: 3
  kubernetesProvider: EKS
