---
# flux/clusters/{{ cluster_name }}/infrastructure.yaml
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure-controllers
  namespace: flux-system
spec:
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
{% if calico_enabled %}
  path: ./infrastructure/base-aws/controller
{% else %}
  path: ./infrastructure/aws-vpc/controller
{% endif %}
  prune: true
  postBuild:
    substitute:
      cluster_name: {{ cluster_name }}
      region: {{ region }}
      aws_account_id: ""
      aws_lb_ip_address_type: dualstack
      ipFamilies: IPv6
  patches:
    []
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
spec:
  dependsOn:
  - name: infrastructure-controllers
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
{% if calico_enabled %}
  path: ./infrastructure/base-aws/config
{% else %}
  path: ./infrastructure/aws-vpc/config
{% endif %}
  prune: true
  components: []
  # - components/rds
  postBuild:
    substitute:
      cluster_name: {{ cluster_name }}
      region: {{ region }}
      efs_file_system_id: {{ efs_file_system_id }}
    {% if external_dns_zone %}
      external_dns_zone: {{ external_dns_zone }}
    {% endif %}
      # uuid: 000000000000
      # rds_vpc_security_group_id: sg-00000000000000000
  patches: []
  # - patch: |-
  #     apiVersion: rds.services.k8s.aws/v1alpha1
  #     kind: DBSubnetGroup
  #     metadata:
  #       name: db-subnet-group
  #     spec:
  #       subnetIDs: []
  #   target:
  #     kind: DBSubnetGroup
  #     name: db-subnet-group
  #     namespace: postgres
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api-crds
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./clusters/base
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
