---
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: {{ cluster_name }}
  region: ap-southeast-2
  version: "{{ kubernetes_version }}"
  tags:
    karpenter.sh/discovery: {{ cluster_name }}

addonsConfig:
  disableDefaultAddons: true
  autoApplyPodIdentityAssociations: true

addons:
  - name: kube-proxy
  - name: coredns
{% if not (calico_enabled and not ipv6) %}
  - name: vpc-cni
{% endif %}
  - name: eks-pod-identity-agent
{% for addon in addons %}
  - name: {{ addon }}
{% endfor %}

iam:
{% if not bootstrap %}
  # Karpenter pre-req. cloudformation template, see docs
  podIdentityAssociations:
    - namespace: kube-system
      serviceAccountName: karpenter
      roleName: "{{ cluster_name }}-karpenter"
      permissionPolicyARNs:
        - arn:aws:iam::{{ account_id }}:policy/KarpenterControllerPolicy-{{ cluster_name }}

  serviceAccounts:
    - metadata:
        name: source-controller
        namespace: flux-system
      attachPolicyARNs:
        - arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly
      roleOnly: true
    - metadata:
        name: aws-load-balancer-controller
        namespace: kube-system
      wellKnownPolicies:
        awsLoadBalancerController: true
    - metadata:
        name: ack-rds-controller
        namespace: ack-system
      attachPolicyARNs:
        - arn:aws:iam::aws:policy/AmazonRDSFullAccess
      roleOnly: false
  {% if external_dns_zone %}
    - metadata:
        name: external-dns
        namespace: external-dns
      attachPolicyARNs:
        - {{ route53_policy_arn }}
      roleOnly: false
  {% endif %}
{% endif %}
  withOIDC: true

iamIdentityMappings:
  - arn: "arn:aws:iam::{{ account_id }}:role/KarpenterNodeRole-{{ cluster_name }}"
    username: system:node:{{'{{'}}EC2PrivateDNSName{{'}}'}}
    groups:
      - system:bootstrappers
      - system:nodes
      ## If you intend to run Windows workloads, the kube-proxy group should be specified.
      # For more information, see https://github.com/aws/karpenter/issues/5099.
      # - eks:kube-proxy-windows

kubernetesNetworkConfig:
  ipFamily: {{ ipv6 | ternary('IPv6', 'IPv4') }}
  # serviceIPv4CIDR: ""

vpc:
  clusterEndpoints:
    privateAccess: false
    publicAccess: true
{% if vpc_id is defined and vpc_id %}
  id: {{ vpc_id }}
{% else %}
  cidr: {{ vpc_cidr }}
{% endif %}

privateCluster:
  enabled: false
  skipEndpointCreation: false

secretsEncryption:
  keyARN: "{{ key_arn }}"

{% if not bootstrap %}
{% if flux_branch %}
gitops:
  flux:
    gitProvider: "github"
    flags:
      owner: SydneyResearchTech
      path: clusters/{{ cluster_name }}
      repository: gitops-flux
      branch: {{ flux_branch }}

{% endif %}
{% if false %}
# https://eksctl.io/usage/eksctl-karpenter/
# https://github.com/aws/karpenter-provider-aws/releases
# NB: Moved to Ansible and Flux (GitOps) to automate updates
#karpenter:
#  version: "1.0.1"
#  createServiceAccount: true
#  # defaultProfile: "eksctl-KarpenterNodeInstanceProfile-restek-dev"
#  withSpotInterruptionQueue: true

# Amazon EKS will no longer publish EKS-optimized Amazon Linux 2 (AL2) AMIs after November 26th, 2025. Additionally,
# Kubernetes version 1.32 is the last version for which Amazon EKS will release AL2 AMIs. From version 1.33 onwards,
# Amazon EKS will continue to release AL2023 and Bottlerocket based AMIs. The default AMI family when creating clusters
# and nodegroups in Eksctl will be changed to AL2023 in the future.
# amiFamily: AmazonLinux2023, AmazonLinux2, UbuntuPro2404, Ubuntu2404, UbuntuPro2204, Ubuntu2204, UbuntuPro2004, Ubuntu2004, Bottlerocket, WindowsServer2019CoreContainer, WindowsServer2019FullContainer, WindowsServer2022CoreContainer, WindowsServer2022FullContainer
{% endif %}
managedNodeGroups:
  - name: m7g-4xlarge
    amiFamily: AmazonLinux2023
    disableIMDSv1: true
    disablePodIMDS: false
    instanceType: m7g.4xlarge
    minSize: 3
    maxSize: 9
    desiredCapacity: 3
    volumeSize: 100
    labels:
      sydney.edu.au/nodeRole: system
    tags:
      "uni:billing:application": "xnat"
      "uni:billing:support": "unmanaged"
      "uni:operations:backup": "none"
      sydney.edu.au/ou: Research Technology
      sydney.edu.au/resTek/contact: ais.admin@sydney.edu.au
    updateConfig:
      maxUnavailable: 1
{% endif %}
