acl ansible-localnets { 127.0.0.1; ::1; 10/8; 172.16/12; 192.168/16; fe80::/10; };

options {
  directory "/var/cache/bind";
  forwarders { {{ bind_forwarders.stdout|replace(' ','; ') }}; };
  forward only;
  dnssec-validation no;
  listen-on-v6 { any; };
  allow-query { ansible-localnets; };
};
