-- vim: ts=4 sw=4 noet ai cindent syntax=lua
--[[
Conky, a system monitor, based on torsmo

Any original torsmo code is licensed under the BSD license

All code written since the fork of torsmo is licensed under the GPL

Please see COPYING for details

Copyright (c) 2004, Hannu Saransaari and Lauri Hakkarainen
Copyright (c) 2005-2012 Brenden Matthews, Philip Kovacs, et. al. (see AUTHORS)
All rights reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
]]

conky.config = {
    alignment = '{{ desktop_conky_alignment |lower }}',
    background = false,
    border_width = 1,
    cpu_avg_samples = 2,
    default_color = '{{ desktop_conky_default_color }}',
    default_outline_color = '{{ desktop_conky_default_outline_color }}',
    default_shade_color = '{{ desktop_conky_default_shade_color }}',
    double_buffer = {% if desktop_conky_double_buffer is sameas true %}true{% else %}false{% endif %},
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    use_xft = true,
    font = 'DejaVu Sans Mono:size=12',
    gap_x = 5,
    gap_y = 60,
    minimum_height = 5,
    minimum_width = 5,
    net_avg_samples = 2,
    no_buffers = true,
    out_to_console = false,
    out_to_stderr = false,
    extra_newline = false,
    own_window = true,
    own_window_argb_visual = {% if desktop_conky_own_window_argb_visual is sameas true %}true{% else %}false{% endif %},
    own_window_hints = '{{ desktop_conky_own_window_hints |lower }}',
    own_window_transparent = {% if desktop_conky_own_window_transparent is sameas true %}true{% else %}false{% endif %},
    own_window_class = 'Conky',
    own_window_type = '{{ desktop_conky_own_window_type |lower }}',
    stippled_borders = 0,
    update_interval = {{ desktop_conky_update_interval }},
    uppercase = false,
    use_spacer = 'none',
    show_graph_scale = false,
    show_graph_range = false,
{% if desktop_conky_config_extra |length %}
{{ desktop_conky_config_extra }}
{% endif %}
}

conky.text = [[
$nodename - $sysname $kernel on $machine
$hr
${color grey}Uptime:$color $uptime
${color grey}Frequency (in MHz):$color $freq
${color grey}RAM Usage:$color $mem/$memmax - $memperc% ${membar 4}
${color grey}Swap Usage:$color $swap/$swapmax - $swapperc% ${swapbar 4}
${color grey}CPU Usage:$color $cpu% ${cpubar 4}
${color grey}Processes:$color $processes  ${color grey}Running:$color $running_processes
$hr
${color grey}File systems:
 ${color grey}/ $color${fs_used /}/${fs_size /} ${fs_bar 6 /}
{% for fs in desktop_conky_file_systems %}
 ${color grey}{{ fs }} $color${fs_used {{ fs }}}/${fs_size {{ fs }}} ${fs_bar 6 {{ fs }}}
{% endfor %}
${color grey}Networking:
Up:$color ${upspeed {{ desktop_conky_default_interface }}} ${color grey} - Down:$color ${downspeed {{ desktop_conky_default_interface }}}
$hr
${color grey}Name              PID   CPU%   MEM%
${color lightgrey} ${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1}
${color lightgrey} ${top name 2} ${top pid 2} ${top cpu 2} ${top mem 2}
${color lightgrey} ${top name 3} ${top pid 3} ${top cpu 3} ${top mem 3}
${color lightgrey} ${top name 4} ${top pid 4} ${top cpu 4} ${top mem 4}
{% if desktop_conky_text_extra |length %}
{{ desktop_conky_text_extra }}
{% endif %}
]]
