apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: dex-certs
  namespace: default
spec:
  secretName: dex-certs
  isCA: false
  usages:
    - server auth
    - client auth
  dnsNames:
    - {{ ansible_fqdn }}
    - {{ ansible_hostname }}
    - localhost
  ipAddresses:
    - {{ ansible_default_ipv4.address }}
    - 127.0.0.1
  issuerRef:
    name: selfsigned-ca
    kind: ClusterIssuer
    group: cert-manager.io
